<div class="w-full h-full relative top-0 left-0">
	<div (click)="toogleSidebar()"
		class="absolute top-4 left-4 z-30 bg-white border border-solid border-[#cbd5e1] shadow-lg flex justify-center text-textDefault items-center cursor-pointer hover:bg-default w-12 h-12 rounded-xl transition-all duration-300 ease-in-out">
		<div class="text-2xl p-2 ti ti-menu-2"></div>
	</div>

	<!-- Sidebar -->
	<div class="flex flex-row">
		<div
			class="z-20 bg-white relative h-screen border-0 border-r border-solid border-[#cbd5e1] flex flex-col justify-between transition-all duration-300 ease-in-out shadow-lg pt-20"
			[class.translate-x-0]="showSidebar()" [class.w-[80px]]="showSidebar()" [class.-translate-x-20]="!showSidebar()"
			[class.w-[0px]]="!showSidebar()">
			<div class="pt-4 pb-8 flex flex-col gap-2 items-center">
				<span class="text-textDefault text-s font-semibold">Menú</span>

				@for (menu of menuSidebarShow(); track menu.id) {
				<div (click)="menu?.action && menu?.action(); abrirMenu(menu)" [routerLink]="menu.path"
					[routerLinkActive]="['text-white', 'bg-primary']"
					class="flex justify-center text-textDefault items-center cursor-pointer hover:bg-accent min-w-12 min-h-12 rounded-xl hover:text-white transition-all duration-300 ease-in-out navbar-item">
					<div class="text-2xl p-2 ti" [ngClass]="'ti-' + menu.icon"></div>
					<div class="tooltip">{{ menu.name }}</div>
				</div>
				}
			</div>

			<div class="pt-4 pb-4 flex flex-col gap-2 items-center">
				@for (menuFooter of menuSidebarFooter(); track menuFooter) {
				<div (click)="menuFooter?.action && menuFooter?.action();" [routerLink]="menuFooter.path"
					[routerLinkActive]="['text-white', 'bg-accent']"
					class="flex justify-center text-textDefault items-center cursor-pointer hover:bg-accent min-w-12 min-h-12 rounded-xl hover:text-white transition-all duration-300 ease-in-out navbar-item">
					<div class="text-2xl p-2 ti" [ngClass]="'ti-' + menuFooter.icon"></div>
					<div class="tooltip">{{ menuFooter.name }}</div>
				</div>
				}
			</div>
		</div>

		<div class="z-10 flex-1 min-w-0 h-screen overflow-y-auto transition-all duration-300 ease-in-out">
			<ng-content></ng-content>
		</div>
	</div>

	@for (menu of menuSidebarShow(); track menu.id) {
	@if (showSidebar() && menu.childrem && menu.view) {
	<div class="z-10 absolute h-screen top-0 left-20 p-4 pt-20 flex flex-col gap-2 bg-white w-[240px] shadow-lg"
		@animations>
		<div class="text-textPrimary text-base font-semibold flex flex-row gap-2 items-start w-full justify-between">
			<span>{{ menu.name }}</span>
			<div (click)="abrirMenu(menu)"
				class="flex justify-center text-textDefault items-center cursor-pointer hover:bg-default min-w-12 min-h-12 rounded-xl transition-all duration-300 ease-in-out">
				<div class="text-2xl p-2 ti ti-chevron-left"></div>
			</div>
		</div>

		@for (childrem of menu.childrem; track childrem.name) {
		<div (click)="childrem?.action && childrem?.action(); abrirMenu2(menu, childrem)" [routerLink]="childrem.path"
			[routerLinkActive]="['text-accent']"
			class="text-m font-medium flex flex-row justify-between text-textDefault items-center cursor-pointer hover:text-accent min-w-12 min-h-5 rounded-xl transition-all duration-300 ease-in-out">
			<div class="flex flex-row items-center gap-2">
				<span class="ti ti-point"></span>
				<span>{{ childrem.name }}</span>
			</div>
			<div>
				@if (childrem.childrem !== undefined) {
				<span class="text-xl ti" [ngClass]="childrem.view ? 'ti-chevron-up' : 'ti-chevron-down'"></span>
				}
			</div>
		</div>

		@if (childrem.view) {
		<div @animations>
			@for (capa3 of childrem.childrem; track capa3) {
			<div (click)="capa3?.action && capa3?.action();" [routerLink]="capa3.path" [routerLinkActive]="['text-accent']"
				class="pl-4 text-m font-medium flex flex-row justify-between text-textDefault items-center cursor-pointer hover:text-accent min-w-12 min-h-5 rounded-xl transition-all duration-300 ease-in-out">
				<div class="flex flex-row items-center gap-2">
					<span class="ti ti-chevron-right"></span>
					<span>{{ capa3.name }}</span>
				</div>
			</div>
			}
		</div>
		}
		}
	</div>
	}
	}
</div>