<p-dialog [visible]="internalVisible()" [modal]="true" [appendTo]="'body'" [baseZIndex]="12000" [autoZIndex]="true"
  [showHeader]="showHeader()" [dismissableMask]="dismissableMask()" [draggable]="false" [resizable]="false"
  [maximizable]="maximizable()" [closable]="closable()" [breakpoints]="breakpoints()" [style]="{ width: dialogWidth() }"
  styleClass="ucv-dialog" (visibleChange)="onVisibleChange($event)" (onHide)="onVisibleChange(false)">
  <ng-template pTemplate="header">
    <div class="ucv-header">
      <div class="ucv-header__left">
        @if (icon()) {
        <div class="ucv-header__icon">
          <i [class]="icon()"></i>
        </div>
        }

        <div class="ucv-header__content">
          @if (title()) {
          <span class="ucv-header__title">{{ title() }}</span>
          }

          @if (subtitle()) {
          <small class="ucv-header__subtitle">{{ subtitle() }}</small>
          }
        </div>

        @if (badge()) {
        <span class="ucv-badge" [title]="badge()">
          {{ badge() }}
        </span>
        }
      </div>

      <div class="ucv-header__right">
        <ng-content select="[modal-header-actions]"></ng-content>
      </div>
    </div>
  </ng-template>

  <div class="modal-content-scroll">
    <ng-content></ng-content>
  </div>

  <ng-template pTemplate="footer">
    <div class="ucv-footer">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </ng-template>
</p-dialog>